/secrets.py
Focus_Mode_Info.db
*.db
__pycache__/secrets.cpython-39.pyc
idea/
git/
__pycache__/
__pycache__/database.cpython-39.pyc
__pycache__/database.cpython-39.pyc
*.pyc
__pycache__/time_modulation.cpython-39.pyc
*.pyc
.vscode/settings.json
.vscode/launch.json
secrets_1.py
secrets_1.py
__pycache__/time_modulation.cpython-39.pyc
*.xml
TheAddictionYouDidntKnowYouHad.mp3
.idea/misc.xml
src/nohup.out
src/config.py
